<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p id="notice"><%= notice %></p>

            <%= render :partial => "order" %>

        </div>
      </div>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>
