<% if current_user && @existing_fav %>
  <a href="/meals/<%=@meal.id%>/favorite"><span class="glyphicon glyphicon-heart glyphicon-heart-enabled"></span></a>
<% elsif current_user %>
  <a href="/meals/<%=@meal.id%>/favorite"><span class="glyphicon glyphicon-heart glyphicon-heart-disabled"></span></a>
<% end %>