<% if current_user && existing_fav %>
  <a href="/meals/<%=meal.id%>/favorite"><i class="glyphicon glyphicon-heart glyphicon-heart-enabled"></i></a>
<% elsif current_user %>
  <a href="/meals/<%=meal.id%>/favorite"><i class="glyphicon glyphicon-heart glyphicon-heart-disabled"></i></a>
<% end %>