<div class="row">
  <% @meals.each do |meal| %>
  <div class="col-md-3 single-meal">
    <%= render :partial => "meal", :locals => { :layout => false , :@meal => meal } %>
    <% if @meal.seed_image %>
      <img class="img-responsive" src="<%= @meal.seed_image %>" alt="Meal Picture">
    <% else %>
      <%= image_tag meal.image.url(:medium) %>
    <% end %>
  </div>
  <% end %>
  <div class="col-md-9">
    <div id="maps">
      <!-- Google maps goes here -->
    </div>
  </div>
</div>
