/* Custom Styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 30px;
}

.avatar {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

.glyphicon-heart {
    font-size: 20px;
}

.navbar-avatar {
    border-radius: 50%;
    width: 5%;
    height: auto;
}

.navbar-right img {
    margin-right: 10px;
}

.navbar-text a {
    padding: 19px;
}

.carousel-inner {
    min-width: 100%;
    height: 550px;
    object-fit: cover;
}

.glyphicon-heart:hover {
    color: red;
}

a:hover {
    background-color: transparent;
}

.social .fa {
    color: #767676;
    margin-right: 20px;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}

.single-meal {
    height: 350px;
    margin: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

.meal-listing {
  max-height: 700px;
  overflow-y: scroll;
}

#map {
  margin: 30px;
  width: 45%;
  height: 700px;
}
