/* Custom Styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.avatar {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

/* Add a small top margin to separate from top navbar */
.container {
  margin-top: 10px;
}

.navbar-brand {
  font-family: 'Indie Flower', sans-serif;
  letter-spacing: 0.3em;

}

.glyphicon-heart {
    font-size: 20px;
}

.navbar-avatar {
    border-radius: 50%;
    width: 5%;
    height: auto;
}

.navbar-right img {
    margin-right: 10px;
}

.navbar-text a {
    padding: 19px;
}

.carousel-inner {
    min-width: 100%;
    height: 550px;
    object-fit: cover;
}

.glyphicon-heart:hover {
    color: red;
}

.glyphicon-heart-disabled {
    color: black;
}

.glyphicon-heart-enabled {
    color: red;
}

a:hover {
    background-color: transparent;
}

.social .fa {
    color: #767676;
    margin-right: 20px;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
    width: 10%;
}

.popover-content a {
  color: #767676;
  text-decoration: none !important;
}

.single-meal {
    height: 350px;
    margin: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

.footer .container {
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none !important;
}

.meal-listing {
  max-height: 700px;
  overflow-y: scroll;
}

#map {
  margin-top: 10px;
  width: 45%;
  height: 700px;
}

.navbar {
  margin-bottom: 0 !important;
}

.main-gallery img {
  height: 400px;
}

.carousel {
  height: 550px;
}

.info-window img {
  width: 30%;
}

.featured-meals-gallery img {
  height: 200px;
}

.f-meals {
  padding-top: 50px;
}

.f-meals a {
  text-decoration: none !important;
}

.cuisine {
  font-size: 3em;
  font-family: 'Bungee', cursive;
}

.search {
  margin-top: 50px;
}

.hero-header {
  background-size: cover;
  height: 400px;
  margin-bottom: 1em;
  background-image: url(cooking_1.jpg)
  background-repeat: no-repeat;
}

.hero-text {
  text-align: left;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 400px; /* height of carousel */
  margin-right: 10px;
}

.hero-box {
  font-family: "Bungee", cursive;
  /*color: #484848;*/
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 15%;
  padding: 64px
}

.hero__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 20%;
    padding: 64px
}

#hero {
  font-size: 4em;
  text-align: right;
  color: #fff;
  text-shadow: 0px 0px 15px rgba(50, 50, 50, 1)
}
