<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>New Review</h3>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">

      <%= render 'form', review: @review %>

      <%= link_to 'Back', order_reviews_path %>

      </div>
    </div>
  </div>
</div>
