<div class="container">
  <div class="col-md-12">
      <h3>New Review</h3>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">

      <%= render 'form', review: @review %>

      </div>
    </div>
    <%= link_to 'Back', :back %>
  </div>
</div>
